## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Port Alfred,ZA,-33.5906,26.8910,59.18,78,14,1.99,few clouds
1,1,Bengkulu,ID,-3.8004,102.2655,75.52,83,57,3.49,broken clouds
2,2,Ovre Ardal,NO,61.3167,7.8000,54.14,85,64,6.35,broken clouds
3,3,Tuktoyaktuk,CA,69.4541,-133.0374,58.33,62,4,6.98,clear sky
4,4,Tabatinga,BR,-4.2525,-69.9381,78.80,78,75,2.30,broken clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Bengkulu,ID,-3.8004,102.2655,75.52,83,57,3.49,broken clouds
4,4,Tabatinga,BR,-4.2525,-69.9381,78.80,78,75,2.30,broken clouds
6,6,Albany,US,42.6001,-73.9662,79.18,63,61,8.16,broken clouds
7,7,Fayetteville,US,35.0527,-78.8784,88.21,67,0,10.36,clear sky
9,9,Lazaro Cardenas,MX,17.9583,-102.2000,84.27,72,93,7.78,overcast clouds
10,10,Yellowknife,CA,62.4560,-114.3525,70.32,43,75,9.22,broken clouds
11,11,Cayenne,GF,4.9333,-52.3333,82.09,1,20,0.00,few clouds
12,12,Rikitea,PF,-23.1203,-134.9692,73.87,75,6,21.39,clear sky
19,19,Dawei,MM,14.0833,98.2000,76.68,93,100,1.63,light rain
24,24,Atuona,PF,-9.8000,-139.0333,77.34,81,6,14.72,clear sky

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                342
City                   342
Country                342
Lat                    342
Lng                    342
Max Temp               342
Humidity               342
Cloudiness             342
Wind Speed             342
Current Description    342
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# No NANs seen since all counts are the same.

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Bengkulu,ID,75.52,broken clouds,-3.8004,102.2655,
4,Tabatinga,BR,78.80,broken clouds,-4.2525,-69.9381,
6,Albany,US,79.18,broken clouds,42.6001,-73.9662,
7,Fayetteville,US,88.21,clear sky,35.0527,-78.8784,
9,Lazaro Cardenas,MX,84.27,overcast clouds,17.9583,-102.2000,
10,Yellowknife,CA,70.32,broken clouds,62.4560,-114.3525,
11,Cayenne,GF,82.09,few clouds,4.9333,-52.3333,
12,Rikitea,PF,73.87,clear sky,-23.1203,-134.9692,
19,Dawei,MM,76.68,light rain,14.0833,98.2000,
24,Atuona,PF,77.34,clear sky,-9.8000,-139.0333,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
# 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
# combining coordinates under location for params dictionary
    params["location"] = f'{lat},{lng}'
    
# 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
# 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Bengkulu,ID,75.52,broken clouds,-3.8004,102.2655,Grage Hotel Bengkulu
4,Tabatinga,BR,78.80,broken clouds,-4.2525,-69.9381,Hotel Amazon Bed and Breakfast / Hotel Amazon B&B
6,Albany,US,79.18,broken clouds,42.6001,-73.9662,
7,Fayetteville,US,88.21,clear sky,35.0527,-78.8784,American Eagle Inn
9,Lazaro Cardenas,MX,84.27,overcast clouds,17.9583,-102.2000,HOTEL QUINTA ANTIGUA
...,...,...,...,...,...,...,...
661,Vidalia,US,85.95,scattered clouds,32.2177,-82.4135,Quality Inn & Suites
662,Acarau,BR,77.22,broken clouds,-2.8856,-40.1200,castelo pizzaria
665,Sardarshahr,IN,82.87,light rain,28.4333,74.4833,Hotel Moti Mahal
666,Gizo,SB,83.79,few clouds,-8.1030,156.8419,Imagination Island
667,Salina,US,88.30,broken clouds,38.8403,-97.6114,"Holiday Inn Express & Suites Salina, an IHG Hotel"

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""


# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))