## Deliverable 3. Create a Travel Itinerary Map.

In [7]:
# Dependencies and Setup
import pandas as pd
import matplotlib.pyplot as pl
import requests
import gmaps
import numpy as np
import sys
sys.path.append("..")
import os

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [8]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Bengkulu,ID,75.52,broken clouds,-3.8004,102.2655,Grage Hotel Bengkulu
1,4,Tabatinga,BR,78.80,broken clouds,-4.2525,-69.9381,Hotel Amazon Bed and Breakfast / Hotel Amazon B&B
2,6,Albany,US,79.18,broken clouds,42.6001,-73.9662,NaN
3,7,Fayetteville,US,88.21,clear sky,35.0527,-78.8784,American Eagle Inn
4,9,Lazaro Cardenas,MX,84.27,overcast clouds,17.9583,-102.2000,HOTEL QUINTA ANTIGUA
5,10,Yellowknife,CA,70.32,broken clouds,62.4560,-114.3525,The Explorer Hotel
6,11,Cayenne,GF,82.09,few clouds,4.9333,-52.3333,Hôtel Le Dronmi
7,12,Rikitea,PF,73.87,clear sky,-23.1203,-134.9692,People ThankYou
8,19,Dawei,MM,76.68,light rain,14.0833,98.2000,Hotel Dawei
9,24,Atuona,PF,77.34,clear sky,-9.8000,-139.0333,Villa Enata

In [9]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dt>
<dt>Max Tem</dt><dt>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
#hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
#locations = clean_hotel_df[["Lat", "Lng"]]
locations = vacation_df[["Lat", "Lng"]]

In [10]:
# 4a. Add a marker layer for each city to the map.
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

#vacation_start = vacation_df.loc[]
#vacation_end = vacation_df.loc[]
#vacation_stop1 = vacation_df.loc[]
#vacation_stop2 = vacation_df.loc[] 
#vacation_stop3 = vacation_df.loc[] 

vacation_start = vacation_df.loc[vacation_df['City'] == 'Fayetteville']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Fayetteville']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Havelock']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Mount Pleasant']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Vidalia']

In [30]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#start = 
#end = 
#stop1 = 
#stop2 = 
#stop3 = 

start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

stop3

array([32.2177, -82.4135], dtype=object)

In [31]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(46, -1), zoom_level = 7)
#Fayetteville = start
#Havelock = stop1
#Mount Pleasant = stop2
#Vidalia = stop3 

vacation_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3],travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
#itinerary_df = pd.concat([],ignore_index=True)
#itinerary_df

itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,7,Fayetteville,US,88.21,clear sky,35.0527,-78.8784,American Eagle Inn
1,435,Havelock,US,82.38,overcast clouds,34.8791,-76.9013,Sherwood Motel
2,240,Mount Pleasant,US,86.18,clear sky,32.7941,-79.8626,Best Western Patriots Point
3,661,Vidalia,US,85.95,scattered clouds,32.2177,-82.4135,Quality Inn & Suites

In [33]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
#info_box_template = """

#"""

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [29]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))